.logo {
  width: 180px;
  display: flex;
  padding: 50px;
  margin-left: 100px;
  align-items: center;
}

article {
  line-height: 90%;

}

article h1 {
  font-size: 60px;
  margin-left: 110px;
  margin-bottom: 80px;
}

article h2 {
  font-size: 40px;
  margin-left: 110px;
  margin-bottom: 80px;
}

article p {
  font-size: 50px;
  margin-left: 110px;
  margin-bottom: 80px;
  font-style: italic;
}

input {
  margin-left: 20px;
  margin-top: 40px;
  height: 80px;
  width: 300px;
}