@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap');

input {
  position: absolute;
  margin-left: 900px;
  height: 70px;
  width: 300px;
  z-index: 2;
}

#photo {
  width: 1098px;
  height: 562px;
  padding-left: 129px;
  z-index: 3;
}

#photo,
#color-box {
  display: flex;

}

.textdiv h2 {
  font-size: 45px;
  margin-left: 300px;
}

.textdiv h1 {
  letter-spacing: 3px;
  margin-top: 300px;
  font-size: 50px;
  margin-bottom: 100px;
  margin-left: 620px;

}

.textdiv {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 2;

  font-family: 'Belanosima', sans-serif;
}

#color-box {
  position: absolute;
  padding: 30px;
  width: 1098px;
  height: 562px;
  background-color: #9EDDE0;
  opacity: 0.6;
  z-index: 1;
}